{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block content %}

	<form action = "/contact/" method = "post"> {% csrf_token %}
	{{ form.as_p  }}
	<input type = "submit" value = "Submit" />
	</form>
	<section id="content">
		
		<div id="padding-content"><!-- padding-content -->
		     <div id="leftNav">	
			<ul>
				<a href="/about"><li>About</li></a>
				<a href="/team"><li>Team</li></a>
				<a href="/contact"><li>Contact</li></a>
			</ul>
		     </div>
				     
		     <div id="main_content"><!-- content -->
		     
			<h3>Contact UIUC Web Monkeys</h3>
			
			<p><strong>Website:</strong> <a href="http://www.acm.uiuc.edu/webmonkeys" target="_blank">www.acm.uiuc.edu/webmonkeys</a></p>
			<p><strong>Github:</strong> <a href="https://github.com/acm-uiuc/CodeBlue" target="_blank">www.github.com/acm-uiuc/CodeBlue</a></p>
		     </div><!-- end main_content -->

		</div><!-- padding-content -->
		
	</section>
	
	{% endblock %}