{% extends "base.html" %}
{% block title %}Code Blue{% endblock %}
{% block content %}
	
	<section id="content">
		
		<div id="padding-content">
                  
                     <form class="form">
			<p><input type="text" name="firstname" value="Firstname" /></p>
			<p><input type="text" name="lastname"  value="Lastname" /></p>
			<p><input type="text" name="email" value="Email"/></p>
			<p><input type="password" name="password" value="Password" /></p>
			<button>Login</button>
		     </form>

		</div>
		
	</section>
	
	{% endblock %}