
{% extends "base.html" %}
{% block title %} Team {% endblock %}
{% block content %}
	
	<section id="content">
		
		<div id="padding-content"><!-- padding-content -->
		     <div id="leftNav">	
			<ul>
				<a href="/about"><li>About</li></a>
				<a href="/team"><li>Team</li></a>
				<a href="/contact"><li>Contact</li></a>
			</ul>
		     </div>
				     
		     <div id="main_content"><!-- content -->
		     
			<h3>Code Ninjas</h3>
			<ul class="teamList">
				<li>Rashad Russell</li>
				<li>Jatin Pandey</li>
				<li>Ryan Yuen</li>
				<li>Michael Marshall</li>
				<li>Martin Rosenberg</li>
				<li>Brian Hauger</li>
				<li>Alhaji Mansaray</li>
				<li>Dan Carvill</li>
				<li>Rashad Russell</li>
				<li>Joshua Heng</li>
				<li>Sid Rajesh</li>
				<li>Charlie Chen</li>
				<li>Yuechang Mei</li>
				<li>Bob Ren</li>
				<li>Boris Sadkhin</li>
				<li>Dhruv Seth</li>
				<li>Peter Kowalczyk</li>
				<li>Akhil Mallavarapu</li>
				<li>Thibaut Xiong</li>
			</ul>
			
		     </div><!-- end main_content -->

		</div><!-- padding-content -->
		
	</section>
	
	{% endblock %}