Django==1.5.5
Fabric==1.8.2
Flask==0.10.1
Mezzanine==1.4.16
MySQL-python==1.2.4
PIL==1.1.7
Pillow==2.2.1
South==0.8.4
django-extensions==1.2.5
django-nexmo==1.0.1
django-ratings==0.3.7
django-taggit==0.11.2
oauthlib==0.6.0
python-instagram==0.8.0
scipy==0.11.0
simplejson==3.3.2
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
